extends layout

block content 
  if user
    h1 Welcome Back #{user.username}
  else
    h1 #{title}
  hr
  if user 
    a(href="/log-out") Log out
  else
    p 
      a(href="/sign-up") Sign up 
    p 
      a(href="/log-in") Log in
