extends layout 

block content 
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='password') Password:
      input#password.form-control(type='text', placeholder='password' name='password' required='true')
      button(type="submit") #{text}
  hr
  p 
    a(href="/") Back Home