extends layout 

block content 
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='username') Username:
      input#username.form-control(type='text', placeholder='Username' name='username' required='true' )
      label(for='password') Password:
      input#password.form-control(type='text', placeholder='Password' name='password' required='true')
      button(type="submit") Log in
  hr
  p 
    a(href="/") Back Home