extends layout 

block content 
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='firstname') First Name: 
      input#firstname.form-control(type='text', placeholder='First name' name='firstname' required='true' )
      label(for='lastname') Last Name:
      input#lastname.form-control(type='text', placeholder='Last name' name='lastname' required='true' )
      label(for='username') username:
      input#username.form-control(type='text', placeholder='username' name='username' required='true' )
      label(for='password') password:
      input#password.form-control(type='text', placeholder='password' name='password' required='true')
      button(type="submit") Sign up
  hr
  p 
    a(href="/") Back Home