extends layout 

block content 
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='username') Username:
      input#username.form-control(type='text', placeholder='username' name='username' required='true' )
      label(for='password') Password:
      input#password.form-control(type='text', placeholder='password' name='password' required='true')
      label(for='confirm') Confirm password:
      input#confirm.form-control(type='text', placeholder='Confirm password' name='confirm' required='true')
      button(type="submit") Sign up
  hr
  p 
    a(href="/") Back Home